 <script>
var fishTypes = {{{json fishTypes}}}
console.log(fishTypes)
 </script>

<div class="page-header">
<h1>In Home.handlebars</h1>
{{json fishTypes.fwanabantoid}}

fwanabantoid date:{{fishTypes.fwanabantoid.[0].date}}
</div>

