<!DOCTYPE html>
<html lang="en">
<head>
 
  <!-- References a Handlebars partial in views/partials/head.handlebars -->
  {{>head}}
 
  <title>Aquascraper</title>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script>zz
 <!--<script src="../public/clientjs/index.js"></script> -->

 <script>

var fishTypes = {{{json fishTypes}}}

console.log("fishTypes: " + fishTypes.fwanabantoid.[0].date)
 </script>
</head>
 
<body>
 
<!-- References a Handlebars partial in views/partials/bsnavbar.handlebars -->
{{>bsnavbar}}
 
<!-- The HTML for each view goes here -->
<div class="container">
<!-- Triple staches apply html -->
{{{body}}}

{{fishTypes}}

fwanabantoid date:{{fishTypes.fwanabantoid.[0].date}}

<!-- Double staches don't apply html -->

</div>
 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>

<!-- FORMAT: fishTypes.fwanabantoid.[0].date -->